<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>Notes and Source of Data</title>

</head>
<h1>Notes and Source of Data</h1>
  <body>
    <p2>The data for this site is from the Tetris Tryhards Discord server, the members that collected the data all gave me permission to use the data in the creation of this site. The data can be found at the following link:</p2>
    <br> <br>
    <a href="https://docs.google.com/spreadsheets/d/15s4LrzTQpX2lFVsRt_esvPGqveYKgVPmaqks38HzBDw/edit?gid=0#gid=0">Leaderboard</a>
  </body>
</html>