<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>General Information</title>
</head>
<body>
<h1>General Information</h1>
<p1>This site is being made for a University Project. It is intended for use by the Web Tetris community as a way to have a more visually appealing viewing and user experience as compared to the standard Google Sheet that is currently in use by the community.</p1>
<br>
    <hr>
<p2>This site is using the data directly from the standard Google Sheet and simply reformatted allowing for new features such as toggles and filters to view the data in different ways.</p2>
<br>
    <hr>
<p3>All the data is being used with permission from the Leaderboard team in the Tetris Tryhards Discord server</p3>
</body>
</html>