<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>Tetris Tryhards Leaderboard</title>
</head>
    <div class ="container">
<body>
    <h1><bold>Home</bold></h1>

    <p2>Welcome to the Web Tetris community leaderboard. Here you can find all verified and recognised scores by the community, information about the community and notes from me, Denver.</p2>
    <br> <br>
    <p2>To access the three subpages, please press one of the below buttons.</p2>
    <br> <br>
    <div class="buttons">
        <a href = "/GeneralInfo">
            <button type="button" class ="GeneralInfo">General Information</button>
        </a>

        <a href = "/Leaderboard">
            <button type="button" class ="Leaderboard">Leaderboard</button>
        </a>

        <a href = "/Notes">
            <button type="button" class ="Notes">Notes</button>
        </a>
    </div>
</body>
    </div>
</html>