<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>Leaderboard</title>
</head>
<body>
<style>
    table td,
    table th {
        font-size: smaller;
        border: 1px solid black;
        line-height: 1.4;
        padding: 10px 10px;
    }
</style>

<h1>Leaderboard</h1>
    <hr>
    <hr>

<table class="center">
    <tbody>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td>GrBtAce</td>
            <td>3,531,457</td>
        </tr>
        <tr>
            <td>2</td>
            <td>RainZI</td>
            <td>3,257,856</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tiger Ros</td>
            <td>3,215,117</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Denver</td>
            <td>3,185,526</td>
        </tr>
        <tr>
            <td>5</td>
            <td>FrothyPizza</td>
            <td>3,107,960</td>
        </tr>
        <tr>
            <td>6</td>
            <td>SevenEs</td>
            <td>3,048,679</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Supershocky</td>
            <td>2,756,281</td>
        </tr>
        <tr>
            <td>8</td>
            <td>zactodd</td>
            <td>2,729,762</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Jeme</td>
            <td>2,727,064</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Sooin</td>
            <td>2,716,014</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Sigs</td>
            <td>2,711,587</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Creative Name</td>
            <td>2,667,990</td>
        </tr>
        <tr>
            <td>13</td>
            <td>geosyog</td>
            <td>2,541,119</td>
        </tr>
        <tr>
            <td>14</td>
            <td>funkynuts5000</td>
            <td>2,381,706</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Geometris217</td>
            <td>2,308,664</td>
        </tr>
        <tr>
            <td>16</td>
            <td>evros chris</td>
            <td>2,273,845</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Nightmare</td>
            <td>2,225,781</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Grim9898</td>
            <td>2,185,376</td>
        </tr>
        <tr>
            <td>19</td>
            <td>ellpArM</td>
            <td>2,132,782</td>
        </tr>
        <tr>
            <td>20</td>
            <td>jshawty</td>
            <td>2,126,031</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Marcus</td>
            <td>2,121,971</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Kelvin</td>
            <td>2,087,522</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Robbie</td>
            <td>2,082,598</td>
        </tr>
        <tr>
            <td>24</td>
            <td>cahase</td>
            <td>2,064,632</td>
        </tr>
        <tr>
            <td>25</td>
            <td>wang10057</td>
            <td>2,057,065</td>
        </tr>
        <tr>
            <td>26</td>
            <td>49083852</td>
            <td>2,022,686</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Irish Wristwatch</td>
            <td>2,022,097</td>
        </tr>
        <tr>
            <td>28</td>
            <td>NKS</td>
            <td>2,010,585</td>
        </tr>
        <tr>
            <td>29</td>
            <td>TheDaved</td>
            <td>1,978,428</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Fredu5</td>
            <td>1,937,792</td>
        </tr>
        <tr>
            <td>31</td>
            <td>arren</td>
            <td>1,883,749</td>
        </tr>
        <tr>
            <td>32</td>
            <td>macnmath</td>
            <td>1,877,144</td>
        </tr>
        <tr>
            <td>33</td>
            <td>mariofan9</td>
            <td>1,858,997</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Kapttouzi/黄西瓜</td>
            <td>1,846,031</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Okey__Dokey</td>
            <td>1,829,064</td>
        </tr>
        <tr>
            <td>36</td>
            <td>SundayLee</td>
            <td>1,825,119</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Conman</td>
            <td>1,823,213</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Starline</td>
            <td>1,803,813</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Adam M</td>
            <td>1,798,614</td>
        </tr>
        <tr>
            <td>40</td>
            <td>famijoku</td>
            <td>1,757,108</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Mokdad</td>
            <td>1,752,172</td>
        </tr>
        <tr>
            <td>42</td>
            <td>SF</td>
            <td>1,696,502</td>
        </tr>
        <tr>
            <td>43</td>
            <td>teeks</td>
            <td>1,679,115</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Mooing</td>
            <td>1,644,329</td>
        </tr>
        <tr>
            <td>45</td>
            <td>towtE</td>
            <td>1,618,067</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Qui-Gon Jim</td>
            <td>1,546,516</td>
        </tr>
        <tr>
            <td>47</td>
            <td>TurtwigGrookey25</td>
            <td>1,536,778</td>
        </tr>
    </tbody>
</table>
    <hr>
    <hr>

</body>
</html>